<% extend('../layout') %>
<%- JSON.stringify(body) %>
<div class="main-content-container px-4 container-fluid">
    <div class="page-header py-4 no-gutters row">
        <div class="text-sm-left mb-3 text-center text-md-left mb-sm-0 col-12 col-sm-4"><span class="text-uppercase page-subtitle">@notores/user</span>
            <h3 class="page-title">Models for Module</h3></div>
    </div>
    <div class="row">
        <div class=" mb-4 col-6 col-sm-4 col-lg-3">
            <div class="stats-small card card-small" style="cursor: pointer;">
                <div class="p-0 d-flex card-body">
                    <div class="d-flex flex-column m-auto" style="width: 100%;">
                        <div class="stats-small__data text-center" style="width: 100%; max-width: 100%; text-align: center;"><span class="stats-small__label text-uppercase">@notores/user</span>
                            <h6 class="stats-small__value count my-3">User</h6></div>
                        <div class="stats-small__data" style="width: 100%; max-width: 100%; text-align: center;"><span class="stats-small__percentage" style="width: 100%; max-width: 100%; text-align: center; padding-left: 0px;">Manage options</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
