<% extend('layouts/main') %>

<h1 class="cover-heading">Notores</h1>
<p class="lead"><%=body.message%></p>
<p class="lead">
    <a href="https://github.com/Notores/core" class="btn btn-lg btn-secondary">Getting Started</a>
</p>