.FieldSelector {
	display: flex;
	justify-content: left;
}
.FieldSelector > div:first-child {
	margin-right: 24px;
}
.FieldSelector .droparea {
	width: 250px;
}
.FieldSelector .droparea.over {
	background: #f6f6f6;
}
.FieldSelector .draggable.dragging {
	background: #f3f3f3;
}
.main-navbar .navbar .nav-link {
	height: 100%;
	line-height: 3em;
}
.navbar-light .navbar-brand {
	color: #007bff;
}
.navbar-light .navbar-brand > div {
	line-height: 40px;
}
#main-logo {
	fill: currentColor;
}
.toggle-sidebar {
	cursor: pointer;
}
.card, .card-group, .card-header:first-child {
	border-radius: 0;
}
